/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* Apply your body font to the whole page, and your heading font to your headings. */
html {
  font-family: 'Noto Sans', sans-serif;
 
}
h1,h2 {
  font-family: 'Montserrat', sans-serif;
}

/*
Give the first paragraph after each heading in the <section> a little bit of text-indentation, say 2rem.*/
section h2 + p {
  text-indent: 2rem;
}
h1 {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}   
h2 {
  margin-bottom: 0;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  margin-bottom: 0;
}
body {
  line-height: 1.6;
  letter-spacing: 0.02rem;
  font-size: 1rem;
}

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

/*Lists
Make sure the spacing of your lists and list items works well with the styling of the overall page. Each list should have the same line-height and top and bottom margin as the paragraphs.
Give your list items appropriate bullet styles for the design of the page. It is up to you whether you choose a custom bullet image or something else.*/
ul, ol {
  line-height: 1.6;
  margin: 1rem 0;
  padding-left: 40px;
}
/*Navigation menu
Style your navigation menu so that it harmonizes with the page. We'll leave this largely up to you, but here are some tips/suggestions:

Make the links look like buttons, which are as wide as the column they are in, and tall enough that the nav items fill a decent amount of space.
Apply the same font to your nav link text as you applied to your headings.
Make sure the hit area of each link is expanded to fill the entirety of its parent list item.
Center the text inside each link.
Uppercase the text (using CSS, not by editing the HTML!)*/
/*
Links
Give the link, visited, focus, and hover states some colors that go with the color of the horizontal bars at the top and bottom of the page.
Make it so that links are underlined by default, but when you hover or focus them the underline disappears.
Remove the default focus outline from ALL the links on the page.
Make it so that external links have the external link icon inserted to the right of them, at a suitable size.*/
a:link{
  color: #aa8888;
  outline: none;
}
a:visited {
  color: #aa1111;
  text-decoration: underline;
  outline: none;
}
a:hover, a:focus {
  color: #aa3333;
  text-decoration: none;
  outline: none;
}
a[href^="http"] {
  padding-right: 16px;
  background: url("../images/external-link-52.png") no-repeat right center;
  background-size: 14px 14px;
}

n/* 4. List styling */

ul,
ol {
  margin: 1rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-roman;
}

/* 5. Navigation menu */

nav ul {
  padding-left: 0;
}

nav li {
  list-style-type: none;
  margin-bottom: 1rem;
}

nav li a {
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3.5;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px                           ;
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid #aa6666;
}

nav li a:focus,
nav li a:hover {
  color: white;
  background: #aa6666;
}

nav li a:active {
  color: white;
  background: black;
}