* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333333;
  margin: 0;
  font: 1.2em / 1.6 sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border: 1px solid black;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  max-width: 980px;
}

nav {
  background-color: black;
  padding: 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
}
/*Display the navigation items in a row, with an equal amount of space between the items and a smaller amount of space at either end of the row.*/
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 150px;
}

/*Style the navigation bar so it scrolls with the content normally but then becomes stuck at the top of the viewport when it reaches it.*/
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

