html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin-top: 0;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

ul{
    background-color: #ffffff;
    border: 5px solid #ae04d4;
    padding: 30px;
    border-radius: 20px;


}
h1{
    color: darkslategray;
    border-bottom : 10px Dotted purple;
    font-size: 2rem;

}
h2{
    font: 1.5rem;
}
/*Select the <div> using a class selector, and give it a color of darkslategray and a bold font weight.*/
.job-title{
    color: darkslategray;
    font-weight: bold;
}
/*make links green

Make the links darkgreen while hovered over with the mouse pointer or focused via the keyboard (you'll need to use a couple of pseudo-classes for this).
*/
a{
    color: green;
    hover{
        color: darkgreen;
    }
}