html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin-top: 0;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

ul{
    background-color: #ffffff;
    border: 5px solid #ae04d4;
    padding: 30px;
    border-radius: 20px;


}